.input{
    height: 600px;
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    align-items: center;


}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 400px;
    height: 200px;
    gap: 10px;
    border: 5px solid blue;
    color: black;
    background-color: darkgrey;
    justify-self: center;


}

.red{
    color:red;
}

.btn{
    display: flex;
    gap: 10px;
}

.setters{
    justify-self: center;
}

.error{
    color: white;
background-color:indianred;
}
